Repository capstone-mindmate/mindmate-backend, pull requests merged in 2025-03, with the labels that each got.

#23 [Feat, Update #22] 통합된 프로필 등록 및 업데이트 로직 수정
  src/main/java/com/mindmate/mindmate_server/global/config/KafkaConfig.java
  src/main/java/com/mindmate/mindmate_server/global/exception/MatchingErrorCode.java
  src/main/java/com/mindmate/mindmate_server/global/service/FCMService.java
  src/main/java/com/mindmate/mindmate_server/matching/controller/MatchingController.java
  src/main/java/com/mindmate/mindmate_server/matching/controller/WaitingController.java
  src/main/java/com/mindmate/mindmate_server/matching/domain/InitiatorType.java
  src/main/java/com/mindmate/mindmate_server/matching/domain/Matching.java
  src/main/java/com/mindmate/mindmate_server/matching/domain/MatchingStatus.java
  src/main/java/com/mindmate/mindmate_server/matching/domain/MatchingType.java
  src/main/java/com/mindmate/mindmate_server/matching/domain/WaitingQueue.java
  src/main/java/com/mindmate/mindmate_server/matching/dto/AutoFormatMatchRequest.java
  src/main/java/com/mindmate/mindmate_server/matching/dto/AutoRandomMatchRequest.java
  src/main/java/com/mindmate/mindmate_server/matching/dto/ListenerProfileMatchingReqeust.java
  src/main/java/com/mindmate/mindmate_server/matching/dto/ListenerStatus.java
  src/main/java/com/mindmate/mindmate_server/matching/dto/ListenerStatusUpdateRequest.java
  src/main/java/com/mindmate/mindmate_server/matching/dto/ManualMatchRequest.java
  src/main/java/com/mindmate/mindmate_server/matching/dto/MatchingActionRequest.java
  src/main/java/com/mindmate/mindmate_server/matching/dto/MatchingRejectRequest.java
  src/main/java/com/mindmate/mindmate_server/matching/dto/MatchingResponse.java
  src/main/java/com/mindmate/mindmate_server/matching/dto/SpeakerProfileMatchingRequest.java
  src/main/java/com/mindmate/mindmate_server/matching/dto/WaitingProfileResponse.java
  src/main/java/com/mindmate/mindmate_server/matching/repository/MatchingRepository.java
  src/main/java/com/mindmate/mindmate_server/matching/repository/WaitingQueueRepository.java
  src/main/java/com/mindmate/mindmate_server/matching/service/MatchingEventConsumer.java
  src/main/java/com/mindmate/mindmate_server/matching/service/MatchingService.java
  src/main/java/com/mindmate/mindmate_server/matching/service/MatchingServiceImpl.java
  src/main/java/com/mindmate/mindmate_server/matching/service/WaitingService.java
  src/main/java/com/mindmate/mindmate_server/matching/service/WaitingServiceImpl.java
  src/main/java/com/mindmate/mindmate_server/user/controller/AdminCertificationController.java
  src/main/java/com/mindmate/mindmate_server/user/controller/ProfileController.java
  src/main/java/com/mindmate/mindmate_server/user/domain/Badge.java
  src/main/java/com/mindmate/mindmate_server/user/domain/CounselingField.java
  src/main/java/com/mindmate/mindmate_server/user/domain/CounselingStyle.java
  src/main/java/com/mindmate/mindmate_server/user/domain/Profile.java
  src/main/java/com/mindmate/mindmate_server/user/domain/User.java
  src/main/java/com/mindmate/mindmate_server/user/dto/AdminCertificationListResponse.java
  src/main/java/com/mindmate/mindmate_server/user/dto/AdminCertificationResponse.java
  src/main/java/com/mindmate/mindmate_server/user/dto/BadgeResponse.java
  src/main/java/com/mindmate/mindmate_server/user/dto/CertificationProcessRequest.java
  src/main/java/com/mindmate/mindmate_server/user/dto/CertificationUpdateRequest.java
  src/main/java/com/mindmate/mindmate_server/user/dto/CounselingResponse.java
  src/main/java/com/mindmate/mindmate_server/user/dto/EvaluationTagRequest.java
  src/main/java/com/mindmate/mindmate_server/user/dto/ListenerProfileRequest.java
  src/main/java/com/mindmate/mindmate_server/user/dto/ListenerProfileResponse.java
  src/main/java/com/mindmate/mindmate_server/user/dto/ListenerProfileUpdateRequest.java
  src/main/java/com/mindmate/mindmate_server/user/dto/ProfileCreateRequest.java
  src/main/java/com/mindmate/mindmate_server/user/dto/ProfileDetailResponse.java
  src/main/java/com/mindmate/mindmate_server/user/dto/ProfileResponse.java
  src/main/java/com/mindmate/mindmate_server/user/dto/ProfileSimpleResponse.java
  src/main/java/com/mindmate/mindmate_server/user/dto/ProfileStatusResponse.java
  src/main/java/com/mindmate/mindmate_server/user/dto/ProfileUpdateRequest.java
  src/main/java/com/mindmate/mindmate_server/user/dto/SpeakerProfileRequest.java
  src/main/java/com/mindmate/mindmate_server/user/dto/SpeakerProfileResponse.java
  src/main/java/com/mindmate/mindmate_server/user/repository/ProfileRepository.java
  src/main/java/com/mindmate/mindmate_server/user/service/CertificationService.java
  src/main/java/com/mindmate/mindmate_server/user/service/CertificationServiceImpl.java
  src/main/java/com/mindmate/mindmate_server/user/service/ProfileService.java
  src/main/java/com/mindmate/mindmate_server/user/service/ProfileServiceImpl.java
  src/test/java/com/mindmate/mindmate_server/profile/service/CertificationServiceTest.java
Labels: update, feat

#27 [Feat#26] 로그인/회원가입 로직 수정
  Dockerfile
  k8s/kafka.yaml
  k8s/mindmate-backend.yaml
  k8s/mysql.yaml
  k8s/redis.yaml
  k8s/tekton/pipeline.yaml
  k8s/tekton/pvc.yaml
  k8s/tekton/tasks/build-task.yaml
  k8s/tekton/tasks/deploy-task.yaml
  k8s/tekton/tasks/git-clone-task.yaml
  k8s/tekton/triggers.yaml
  src/main/java/com/mindmate/mindmate_server/auth/controller/AuthController.java
  src/main/java/com/mindmate/mindmate_server/auth/dto/SignUpRequest.java
  src/main/java/com/mindmate/mindmate_server/auth/service/AuthService.java
  src/main/java/com/mindmate/mindmate_server/auth/service/AuthServiceImpl.java
  src/main/java/com/mindmate/mindmate_server/auth/util/JwtTokenProvider.java
  src/main/java/com/mindmate/mindmate_server/global/config/SecurityConfig.java
  src/main/java/com/mindmate/mindmate_server/global/exception/AuthErrorCode.java
  src/main/java/com/mindmate/mindmate_server/user/controller/ProfileController.java
  src/main/java/com/mindmate/mindmate_server/user/domain/Profile.java
  src/main/java/com/mindmate/mindmate_server/user/domain/RoleType.java
  src/main/java/com/mindmate/mindmate_server/user/domain/User.java
  src/main/java/com/mindmate/mindmate_server/user/dto/ProfileCreateRequest.java
  src/main/java/com/mindmate/mindmate_server/user/dto/ProfileDetailResponse.java
  src/main/java/com/mindmate/mindmate_server/user/dto/ProfileUpdateRequest.java
  src/main/java/com/mindmate/mindmate_server/user/repository/UserRepository.java
  src/main/java/com/mindmate/mindmate_server/user/service/ProfileServiceImpl.java
  src/main/java/com/mindmate/mindmate_server/user/service/UserService.java
  src/main/java/com/mindmate/mindmate_server/user/service/UserServiceImpl.java
  src/test/java/com/mindmate/mindmate_server/auth/service/AuthServiceTest.java
  src/test/java/com/mindmate/mindmate_server/auth/service/EmailServiceTest.java
  src/test/java/com/mindmate/mindmate_server/auth/service/LoginAttemptServiceTest.java
  src/test/java/com/mindmate/mindmate_server/auth/service/TokenServiceTest.java
  src/test/java/com/mindmate/mindmate_server/profile/service/ProfileServiceTest.java
  src/test/java/com/mindmate/mindmate_server/user/service/UserServiceTest.java
Labels: feat, refact, test

#31 [Feat#18] 채팅 로직 수정
  build.gradle
  src/main/java/com/mindmate/mindmate_server/chat/controller/ChatController.java
  src/main/java/com/mindmate/mindmate_server/chat/controller/CustomFormController.java
  src/main/java/com/mindmate/mindmate_server/chat/controller/MessageInteractionController.java
  src/main/java/com/mindmate/mindmate_server/chat/controller/WebSocketChatController.java
  src/main/java/com/mindmate/mindmate_server/chat/domain/ChatMessage.java
  src/main/java/com/mindmate/mindmate_server/chat/domain/ChatRoom.java
  src/main/java/com/mindmate/mindmate_server/chat/domain/ChatRoomStatus.java
  src/main/java/com/mindmate/mindmate_server/chat/domain/CustomForm.java
  src/main/java/com/mindmate/mindmate_server/chat/domain/CustomFormItem.java
  src/main/java/com/mindmate/mindmate_server/chat/domain/MessageReaction.java
  src/main/java/com/mindmate/mindmate_server/chat/domain/MessageType.java
  src/main/java/com/mindmate/mindmate_server/chat/domain/ReactionType.java
  src/main/java/com/mindmate/mindmate_server/chat/dto/ChatMessageEvent.java
  src/main/java/com/mindmate/mindmate_server/chat/dto/ChatMessageResponse.java
  src/main/java/com/mindmate/mindmate_server/chat/dto/ChatRoomDetailResponse.java
  src/main/java/com/mindmate/mindmate_server/chat/dto/ChatRoomResponse.java
  src/main/java/com/mindmate/mindmate_server/chat/dto/ChatSearchRequest.java
  src/main/java/com/mindmate/mindmate_server/chat/dto/ChatSearchResponse.java
  src/main/java/com/mindmate/mindmate_server/chat/dto/CustomFormItemDTO.java
  src/main/java/com/mindmate/mindmate_server/chat/dto/CustomFormRequest.java
  src/main/java/com/mindmate/mindmate_server/chat/dto/CustomFormResponse.java
  src/main/java/com/mindmate/mindmate_server/chat/dto/MessageReactionResponse.java
  src/main/java/com/mindmate/mindmate_server/chat/dto/ReactionRequest.java
  src/main/java/com/mindmate/mindmate_server/chat/dto/RespondToCustomFormRequest.java
  src/main/java/com/mindmate/mindmate_server/chat/dto/SearchNavigationRequest.java
  src/main/java/com/mindmate/mindmate_server/chat/dto/SearchNavigationResponse.java
  src/main/java/com/mindmate/mindmate_server/chat/repository/ChatMessageRepository.java
  src/main/java/com/mindmate/mindmate_server/chat/repository/ChatRoomRepository.java
  src/main/java/com/mindmate/mindmate_server/chat/repository/ChatRoomRepositoryCustom.java
  src/main/java/com/mindmate/mindmate_server/chat/repository/ChatRoomRepositoryImpl.java
  src/main/java/com/mindmate/mindmate_server/chat/repository/CustomFormRepository.java
  src/main/java/com/mindmate/mindmate_server/chat/repository/MessageReactionRepository.java
  src/main/java/com/mindmate/mindmate_server/chat/service/ChatMessageService.java
  src/main/java/com/mindmate/mindmate_server/chat/service/ChatMessageServiceImpl.java
  src/main/java/com/mindmate/mindmate_server/chat/service/ChatPresenceService.java
  src/main/java/com/mindmate/mindmate_server/chat/service/ChatRoomService.java
  src/main/java/com/mindmate/mindmate_server/chat/service/ChatRoomServiceImpl.java
  src/main/java/com/mindmate/mindmate_server/chat/service/ChatSearchService.java
  src/main/java/com/mindmate/mindmate_server/chat/service/ChatService.java
  src/main/java/com/mindmate/mindmate_server/chat/service/ChatServiceImpl.java
  src/main/java/com/mindmate/mindmate_server/chat/service/ContentFilterConsumer.java
  src/main/java/com/mindmate/mindmate_server/chat/service/CustomFormService.java
  src/main/java/com/mindmate/mindmate_server/chat/service/MessageReactionService.java
  src/main/java/com/mindmate/mindmate_server/chat/service/UnreadCountConsumer.java
  src/main/java/com/mindmate/mindmate_server/global/config/QueryDSLConfig.java
  src/main/java/com/mindmate/mindmate_server/global/exception/ChatErrorCode.java
  src/main/java/com/mindmate/mindmate_server/global/exception/CustomFormErrorCode.java
  src/main/java/com/mindmate/mindmate_server/user/domain/User.java
  src/main/java/com/mindmate/mindmate_server/user/service/ProfileServiceImpl.java
Labels: update, feat, refact

#33 [Feat#32] 채팅 테스트 코드 수정 및 추가
  src/main/java/com/mindmate/mindmate_server/chat/controller/MessageInteractionController.java
  src/main/java/com/mindmate/mindmate_server/chat/domain/ChatMessage.java
  src/main/java/com/mindmate/mindmate_server/chat/dto/ChatMessageResponse.java
  src/main/java/com/mindmate/mindmate_server/chat/dto/ChatRoomDetailResponse.java
  src/main/java/com/mindmate/mindmate_server/chat/dto/ChatRoomResponse.java
  src/main/java/com/mindmate/mindmate_server/chat/dto/CustomFormResponse.java
  src/main/java/com/mindmate/mindmate_server/chat/service/ChatMessageService.java
  src/main/java/com/mindmate/mindmate_server/chat/service/ChatMessageServiceImpl.java
  src/main/java/com/mindmate/mindmate_server/chat/service/ChatPresenceService.java
  src/main/java/com/mindmate/mindmate_server/chat/service/ChatRoomService.java
  src/main/java/com/mindmate/mindmate_server/chat/service/ChatRoomServiceImpl.java
  src/main/java/com/mindmate/mindmate_server/chat/service/ChatSearchService.java
  src/main/java/com/mindmate/mindmate_server/chat/service/ChatServiceImpl.java
  src/main/java/com/mindmate/mindmate_server/chat/service/ContentFilterConsumer.java
  src/main/java/com/mindmate/mindmate_server/chat/service/CustomFormService.java
  src/main/java/com/mindmate/mindmate_server/chat/service/MessageReactionService.java
  src/main/java/com/mindmate/mindmate_server/chat/service/UnreadCountConsumer.java
  src/main/java/com/mindmate/mindmate_server/global/exception/ChatErrorCode.java
  src/main/resources/templates/websocket-test.html
  src/test/java/com/mindmate/mindmate_server/chat/service/ChatMessageServiceImplTest.java
  src/test/java/com/mindmate/mindmate_server/chat/service/ChatPresenceServiceTest.java
  src/test/java/com/mindmate/mindmate_server/chat/service/ChatRoomServiceTest.java
  src/test/java/com/mindmate/mindmate_server/chat/service/ChatSearchServiceTest.java
  src/test/java/com/mindmate/mindmate_server/chat/service/ChatServiceTest.java
  src/test/java/com/mindmate/mindmate_server/chat/service/CustomFormServiceTest.java
  src/test/java/com/mindmate/mindmate_server/chat/service/MessageReactionServiceTest.java
  src/test/java/com/mindmate/mindmate_server/chat/service/UnreadConsumerTest.java
Labels: test
